* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  min-height: 100vh;
}

header {
  font-family: "Playfair Display", serif;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.main-container {
  border-right: 1px solid black;
  border-left: 1px solid black;
  width: 100%;
  max-width: 45rem;
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 1.5rem;
  background-color: #edce6a;
  font-style: italic;
  position: relative;
}

.menu-icon {
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  color: black;
}
.fa-bars {
  height: 2rem;
  width: 2rem;
  z-index: 999;
}

/*  */

.main {
  border: 1px solid black;
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px;
  background-color: #fffcf2;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  margin-bottom: 1rem;
}
nav div {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}

nav div:hover {
  background-color: #f4e3ac;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  align-items: baseline;
}

#input {
  width: 100%;
  max-width: 30rem;
  margin-top: 1rem;
  height: 2.5rem;
  text-align: left;
  font-size: 1.1rem;
  padding-left: 0.5rem;
}
#input::placeholder {
  font-size: 1.1rem;
  padding-left: 0.2rem;
}

.addBtn {
  width: 5rem;
  height: 2.5rem;
  font-weight: 550;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #edce6a;
  border: none;
  border-radius: 5px;
}

.item {
  width: 100%;
  max-width: 45rem;
  position: relative;
  list-style: none;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;

  margin-top: 1rem;
  background-color: #59bc2b;
  border-radius: 5px;
  font-weight: 500;
  overflow: hidden;
  color: rgb(0, 0, 0);

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

#placeholder-text {
  font-size: 1.2rem;
  list-style: none;

  width: 35rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.45rem 1rem;

  background-color: #73e006;
  border-radius: 6px;

  margin-left: 2px;
}

.items-div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.close {
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 1.1rem;
  font-weight: bold;

  position: absolute;
  right: 1rem;
}

/* completed items styling */

.task-text {
  display: inline;
}

.completed {
  text-decoration: line-through;
  opacity: 0.8;
  background-color: #73e006;
}

.now {
  background-color: #edce6a;
}

.checkbox {
  cursor: pointer;
  position: absolute;
  right: 3.5rem;
  border: 1px solid black;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  background-color: white;
  color: black;
}

@media (max-width: 720px) {
  .main-container {
    border: none;
  }
}

@media (max-width: 700px) {
  .main {
    width: 99%;
    padding: 0.8rem;
    padding-bottom: 2rem;
  }
  #input {
    height: 2rem;
    width: 80%;
  }

  .addBtn {
    height: 2rem;
    width: 18%;
  }

  .item {
    height: 2.2rem;
  }
  .close {
    padding-bottom: 3px;
  }
}
